- @page_title = "Recherche"
- @page_keywords = (@names + @skills.map(&:label) + ["expertes", "numérique", "expertes numérique"]).join(',')

%section#profilesList

  %h2
    %span.small votre recherche :
    - if @names.present?
      %span= @names.join(', ')
    - if @skills.present?
      - @skills.each do |skill|
        %span= skill.label

  %div.wrapper
    - if @profiles.present?
      %ul.profilist
        = render partial: 'profiles/profile', collection: @profiles

      = paginate @profiles
    - else
      %p.empty
        Aucun résultat
      %p.empty
        Veuillez élargir votre recherche.
