%h1 Les expertes

%section.test
  - @profiles.each do |profile|
    %div
      %h2
        = link_to(profile) do
          = profile.firstname
          = profile.lastname

      .linked_in_url= link_to profile.linked_in_url