%section#profilesSubmit

  %h2 Soumettre une experte

  %div.wrapper
    
    %form#addnew

      %div.subsections.civilite.clearfix
        %h3 Civilités
        
        %input{ name: 'firstname', value: '', placeholder: 'prénom (obligatoire)', class: "firstname", type: 'text', 'data-rule-required'=>'true', 'data-msg-required'=>' ' }
        %input{ name: 'lastname', value: '', placeholder: 'nom (obligatoire)', class: "lastname", type: 'text', 'data-rule-required'=>'true', 'data-msg-required'=>' ' }

      %div.subsections.clearfix
        %h3 Contact

        %div.avatarUpload
          %div{ 'data-provides'=> "fileinput", class: "fileinput fileinput-new avatar" }
          %div
            %span.btn.btn-default.btn-file
              %span.glyphicon.glyphicon-picture
              %span.fileinput-new Selectionnez une image
              %input{ type: 'file', name: 'avatar', 'data-rule-required'=>'true', 'data-msg-required'=>''}
            %a{ href: '#', 'data-dismiss'=> 'fileinput', class: "btn btn-default fileinput-exists" } Supprimer
        
        %div.social
          %div.link.email
            %span.glyphicon.glyphicon-envelope
            %span.picto Adresse email
            %input{ name: 'email', value: '', placeholder: 'monadress@domaine.com', type: 'email', 'data-rule-required'=>'true', 'data-msg-required'=>' ', 'data-rule-email'=>'true'}
          %div.link.linkedin
            %span.picto LinkedIn
            %input{ name: 'linkedin', value: '', placeholder: 'lien linkedin complet', type: 'text', 'data-rule-required'=>'true', 'data-msg-required'=>' '}
          %div.link.twitter
            %span.picto Twitter
            %input{ name: 'twitter', value: '', placeholder: 'lien twitter complet', type: 'text'}
          %div.link.facebook
            %span.picto Facebook
            %input{ name: 'facebook', value: '', placeholder: 'lien facebook complet', type: 'text'}
          %div.link.googleplus
            %span.picto Google Plus
            %input{ name: 'google-plus', value: '', placeholder: 'lien google plus complet', type: 'text'}

      %div.subsections.publications.clearfix
        %h3 Expertise
          
        %h4.clearfix Publications
        %p
          L'experte a-t-elle déjà publié un article sur un site web ou un blog pro/spécialisé ?
          %span.pink * obligatoire
        
        %div.left
          %input{ name: 'publications', value: 'publications-oui', id: 'publications-oui', type: 'radio', 'data-rule-required'=>'true', 'data-msg-required'=>'Vous devez préciser votre réponse', required: 'true' }
          %label{ for: 'publications-oui' } Oui
          %input{ name: 'publications', value: 'publications-non', id: 'publications-non', type: 'radio', }
          %label{ for: 'publications-non' } Non
          %span.why-publications
        %div.right
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'link-publications-first', value: '', placeholder: 'merci de nous indiquer le lien vers un article' }
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'link-publications-second', value: '', placeholder: 'lien vers un seconde article' }
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'link-publications-third', value: '', placeholder: 'lien vers un troisième article' }

        %h4.clearfix Conférences
        %p
          L'experte est-elle déjà intervenue dans les medias ou à une conférence ?
          %span.pink * obligatoire
        
        %div.left
          %input{ name: 'conference', value: 'conference-oui', id: 'conference-oui', type: 'radio', 'data-rule-required'=>'true', 'data-msg-required'=>'Vous devez préciser votre réponse', required: 'true' }
          %label{ for: 'conference-oui' } Oui
          %input{ name: 'conference', value: 'conference-non', id: 'conference-non', type: 'radio' }
          %label{ for: 'conference-non' } Non
        %div.right
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'link-conference-first', value: '', placeholder: 'merci de nous indiquer le lien vers la conférence ou le media' }
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'link-conference-second', value: '', placeholder: 'le lien vers une seconde conférence ou media' }
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'link-conference-third', value: '', placeholder: 'le lien vers une troisième conférence ou media' }
          
        %h4.clearfix Enseignement
        %p
          L'experte enseigne-t-elle ?
          %span.pink * obligatoire
        
        %div.left
          %input{ name: 'teach', value: 'teach-oui', id: 'teach-oui', type: 'radio', 'data-rule-required'=>'true', 'data-msg-required'=>'Vous devez préciser votre réponse', required: 'true' }
          %label{ for: 'teach-oui' } Oui
          %input{ name: 'teach', value: 'teach-non', id: 'teach-non', type: 'radio' }
          %label{ for: 'teach-non' } Non
        %div.right
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'link-teach-first', value: '', placeholder: 'merci de nous indiquer dans quelle(s) école(s) (séparez par des virgules)' }  
          
        %h4.clearfix Open-Source
        %p
          L'experte a-t-elle participé à un projet open source ?
          %span.pink * obligatoire
        
        %div.left
          %input{ name: 'opensource', value: 'opensource-oui', id: 'opensource-oui', type: 'radio', 'data-rule-required'=>'true', 'data-msg-required'=>'Vous devez préciser votre réponse', required: 'true' }
          %label{ for: 'opensource-oui' } Oui
          %input{ name: 'opensource', value: 'opensource-non', id: 'opensource-non', type: 'radio' }
          %label{ for: 'opensource-non' } Non
        %div.right
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'link-conference-first', value: '', placeholder: 'merci de nous indiquer un lien vers ce projet' }
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'link-conference-second', value: '', placeholder: 'le lien vers un second projet' }
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'link-conference-third', value: '', placeholder: 'le lien vers un troisième projet' }  
        
      %div.subsections.tags.clearfix
        %h3 Les mots clés
        %p
          Sélectionnez les compétences clées de votre experte (3 compétences maximum) 
          %span.pink * obligatoire
          
        %div.form-group.selectbox
            
          - Domain.all.each do |domain|
            
            %div.domain
              %select{ id: dom_id(domain), name: dom_id(domain), multiple: true, title: domain.label, class: 'form-control input-sm selectpicker', value: '' }
              
                - domain.skills.each do |skill|
                  %option{ value: skill.id }= skill.label
                    
      %div.subsections.complement.clearfix
        %h3 Informations complémentaires
        %p
          Proposez-vous le profil d'une autre personne ?
          /'
          %span.pink * obligatoire       
        
        %div.left
          %input{ name: 'complement', value: 'complement-oui', id: 'complement-oui', type: 'radio', 'data-rule-required'=>'true', 'data-msg-required'=>'Vous devez préciser votre réponse', required: 'true' }
          %label{ for: 'complement-oui' } Oui
          %input{ name: 'complement', value: 'complement-non', id: 'complement-non', type: 'radio' }
          %label{ for: 'complement-non' } Non
        %div.right
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'link-complement-first', value: '', placeholder: 'merci de nous indiquer votre email pour référence' } 
        
        
            
      %input{ name: 'submit', value: 'soumettez une experte', type: 'submit', class: 'button'}




       