- @page_title = "Soumettre une experte"

%section#profilesSubmit

  %h2 Soumettre une experte

  %div.wrapper

    / %form#addnew
    = form_tag profiles_path, method: :post, multipart: true, id: :addnew do

      %div.subsections.civilite.clearfix
        %h3 Civilités

        %input{ name: 'profile[firstname]', value: '', placeholder: 'prénom *', class: "firstname", type: 'text', 'data-rule-required'=>'true', 'data-msg-required'=>' ' }
        %input{ name: 'profile[lastname]', value: '', placeholder: 'nom *', class: "lastname", type: 'text', 'data-rule-required'=>'true', 'data-msg-required'=>' ' }

      %div.subsections.clearfix
        %h3 Contact

        %div.avatarUpload
          %div.fileinput.fileinput-new{ 'data-provides'=> "fileinput", style: 'width: 200px; height: 200px;' }
            %div.fileinput-new.thumbnail{ style: 'width: 200px; height: 200px;' }
              %img{ src: 'http://www.placehold.it/200x200/EFEFEF/AAAAAA&text=400px+/+400px' }
            %div.fileinput-preview.fileinput-exists.thumbnail{ style: 'width: 200px; height: 200px;' }
            %div
              %span.btn.btn-default.btn-file
                %span.fileinput-new Sélectionnez une image
                %span.fileinput-exists Changer l'image
                %input{ type: 'file', name: 'profile[picture]', 'data-rule-required'=>'true', 'data-msg-required'=>' Vous devez ajouter une photo. ' }
              %a.btn.btn-default.fileinput-exists{ href: '#', 'data-dismiss'=>'fileinput' } Supprimer

        %div.social
          %div.link.email
            %span.glyphicon.glyphicon-envelope
            %span.picto Adresse email
            %input{ name: 'profile[email]', value: '', placeholder: 'monadress@domaine.com', type: 'email', 'data-rule-required'=>'true', 'data-msg-required'=>' ', 'data-rule-email'=>'true'}
          %div.link.linkedin
            %span.picto LinkedIn
            %input{ name: 'profile[linked_in_url]', value: '', placeholder: 'lien linkedin complet', type: 'text', 'data-rule-required'=>'true', 'data-msg-required'=>' '}
          %div.link.twitter
            %span.picto Twitter
            %input{ name: 'profile[twitter_url]', value: '', placeholder: 'lien twitter complet', type: 'text'}
          %div.link.facebook
            %span.picto Facebook
            %input{ name: 'profile[facebook_url]', value: '', placeholder: 'lien facebook complet', type: 'text'}
          %div.link.googleplus
            %span.picto Google Plus
            %input{ name: 'profile[google_plus_url]', value: '', placeholder: 'lien google plus complet', type: 'text'}

      %div.subsections.publications.clearfix
        %h3 Expériences professionnelles
        %div
          %input{ name: 'profile[last_position]', value: '', placeholder: 'dernier poste occupé *', class: "position", type: 'text', 'data-rule-required'=>'true', 'data-msg-required'=>' ' }

      %div.subsections.publications.clearfix
        %h3 Expertise

        %h4.clearfix Publications
        %p
          L'experte a-t-elle déjà publié un article sur un site web ou un blog pro/spécialisé ?
          %span.pink *

        %div.left
          %input{ name: 'profile[author]', value: '1', id: 'publications-oui', type: 'radio', 'data-rule-required'=>'true', 'data-msg-required'=>'Vous devez préciser votre réponse', required: 'true' }
          %label{ for: 'publications-oui' } Oui
          %input{ name: 'profile[author]', value: '0', id: 'publications-non', type: 'radio', }
          %label{ for: 'publications-non' } Non
          %span.why-publications
        %div.right
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'profile[author_url_1]', value: '', placeholder: 'merci de nous indiquer le lien vers un article' }
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'profile[author_url_2]', value: '', placeholder: 'lien vers un seconde article' }
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'profile[author_url_3]', value: '', placeholder: 'lien vers un troisième article' }

        %h4.clearfix Conférences
        %p
          L'experte est-elle déjà intervenue dans les medias ou à une conférence ?
          %span.pink *

        %div.left
          %input{ name: 'profile[speaker]', value: '1', id: 'conference-oui', type: 'radio', 'data-rule-required'=>'true', 'data-msg-required'=>'Vous devez préciser votre réponse', required: 'true' }
          %label{ for: 'conference-oui' } Oui
          %input{ name: 'profile[speaker]', value: '0', id: 'conference-non', type: 'radio' }
          %label{ for: 'conference-non' } Non
        %div.right
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'profile[speaker_url_1]', value: '', placeholder: 'merci de nous indiquer le lien vers la conférence ou le media' }
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'profile[speaker_url_2]', value: '', placeholder: 'le lien vers une seconde conférence ou media' }
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'profile[speaker_url_3]', value: '', placeholder: 'le lien vers une troisième conférence ou media' }

        %h4.clearfix Enseignement
        %p
          L'experte enseigne-t-elle ?
          %span.pink *

        %div.left
          %input{ name: 'profile[teacher]', value: '1', id: 'teach-oui', type: 'radio', 'data-rule-required'=>'true', 'data-msg-required'=>'Vous devez préciser votre réponse', required: 'true' }
          %label{ for: 'teach-oui' } Oui
          %input{ name: 'profile[teacher]', value: '0', id: 'teach-non', type: 'radio' }
          %label{ for: 'teach-non' } Non
        %div.right
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'profile[teacher_schools]', value: '', placeholder: 'merci de nous indiquer dans quelle(s) école(s) (séparez par des virgules)' }

        %h4.clearfix Open-Source
        %p
          L'experte a-t-elle participé à un projet open source ?
          %span.pink *

        %div.left
          %input{ name: 'profile[open_source]', value: '1', id: 'opensource-oui', type: 'radio', 'data-rule-required'=>'true', 'data-msg-required'=>'Vous devez préciser votre réponse', required: 'true' }
          %label{ for: 'opensource-oui' } Oui
          %input{ name: 'profile[open_source]', value: '0', id: 'opensource-non', type: 'radio' }
          %label{ for: 'opensource-non' } Non
        %div.right
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'profile[open_source_url_1]', value: '', placeholder: 'merci de nous indiquer un lien vers ce projet' }
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'profile[open_source_url_2]', value: '', placeholder: 'le lien vers un second projet' }
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'profile[open_source_url_3]', value: '', placeholder: 'le lien vers un troisième projet' }

      %div.subsections.tags.clearfix
        %h3 Les mots clés
        %p
          Sélectionnez les compétences clés de votre experte (3 compétences maximum)
          %span.pink *

        %div.form-group.selectbox{id: 'form-group selectbox'}

          %select{ id: 'selectSkills', name: 'profile[skill_ids][]', multiple: true, class: 'form-control input-sm selectpicker', value: '', 'data-max-options'=>'3' }

            - Domain.all.each do |domain|
              %optgroup{ label: domain.label }
                - domain.skills.each do |skill|
                  %option{ value: skill.id }= skill.label

      %div.subsections.complement.clearfix
        %h3 Informations complémentaires
        %p
          Proposez-vous le profil d'une autre personne ?
          /'
          %span.pink *

        %div.left
          %input{ name: 'profile[someone_else]', value: '1', id: 'complement-oui', type: 'radio', 'data-rule-required'=>'true', 'data-msg-required'=>'Vous devez préciser votre réponse', required: 'true' }
          %label{ for: 'complement-oui' } Oui
          %input{ name: 'profile[someone_else]', value: '0', id: 'complement-non', type: 'radio' }
          %label{ for: 'complement-non' } Non
        %div.right
          %div.input-group
            %span.glyphicon.glyphicon-link
            %input{ type: 'text', name: 'profile[sender_email]', value: '', placeholder: 'merci de nous indiquer votre email pour référence' }

      %div.requiredMsg.clearfix
        %p
          * champs obligatoires

      %input{ name: 'submit', value: 'soumettez cette experte', type: 'submit', class: 'button'}
