%section#contact

  %h2 Contact

  %div.social
    %a.twitter{ href: 'https://twitter.com/girlzinweb', title: 'Twitter' } Twitter
    %a.facebook{ href: 'https://www.facebook.com/GirlzInWeb', title: 'Facebook' } Facebook
    %a.linkedin{ href: 'http://www.linkedin.com/groups?home=&gid=3005011', title: 'LinkedIn' } LinkedIn
    /%a.google{ href: '#', title: 'Google Plus' } Google Plus
  
  %button.btn.btn-primary.btn-lg.button{ 'data-toggle'=>'modal', 'data-target'=>'#contactForm'} Contact par email
  
  %div#contactMsg.alert.alert-success{ role: 'alert', style: 'display: none;'}
    %p
      Votre message a bien été envoyé.
    %p
      Merci !
