%section#contact

  %h2 Contact

  %div.social
    %a.facebook{ href: '#', title: 'Facebook' } Facebook
    %a.twitter{ href: '#', title: 'Twitter' } Twitter
    %a.google{ href: '#', title: 'Google Plus' } Google Plus
    %a.linkedin{ href: '#', title: 'LinkedIn' } LinkedIn

  %a.button{ href: '#', title: 'Contact par email' } contact par email