%div#contactFormSingle.modal.fade{ tabindex: '-1', role: 'dialog', 'aria-labelledby'=>'myModalLabelSingle', 'aria-hidden'=>'true' }
  %div.modal-dialog
    %div.modal-content
      = form_tag message_to_profile_contacts_path, remote: true do
        %div.modal-header
          %div.clearfix
            %h4#contactFormTitle.modal-title Contactez l'experte
            %button{ type:'button', class:'close', 'data-dismiss'=>'modal'}
              %span{ 'aria-hidden'=>'true' } &times;
              %span.sr-only Close
        %div.modal-body
          %input{ type: 'hidden', value: @profile.id, name: 'profile_id' }
          %input{ type: 'email', value: '', name: 'from_email', id: 'email', placeholder: 'votre email', 'data-msg-required'=>'Veuillez saisir votre adresse email.'}
          %input{ type: 'text', value: '', name: 'from_name', id: 'name', placeholder: 'votre nom', 'data-msg-required'=>'Veuillez saisir vos nom et prénom.' }
          %input{ type: 'text', value: '', name: 'subject', id: 'subject', placeholder: 'sujet du message', 'data-msg-required'=>'Veuillez saisir un sujet.' }
          %input{ type: 'text', value: '', name: 'math', id: 'math', placeholder: 'additionnez 2+6', 'data-msg-required'=>'Veuillez saisir la réponse à cette addition.' }
          %textarea{ placeholder: 'votre message', name: 'message', 'data-msg-required'=>'Veuillez saisir votre message.' }
          %p.errorMsg
        %div.modal-footer
          %button.btn.btn-primary Envoyer
