%div#contactForm.modal.fade{ tabindex: '-1', role: 'dialog', 'aria-labelledby'=>'myModalLabel', 'aria-hidden'=>'true' }
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %h4#contactFormTitle.modal-title Contactez-nous !
      %div.modal-body
        %form
          %input{ type: 'email', value: '', name: 'email', id: 'email', placeholder: 'votre email'}
          %input{ type: 'name', value: '', name: 'name', id: 'name', placeholder: 'votre nom' }
          %input{ type: 'text', value: '', name: 'subject', id: 'subject', placeholder: 'sujet du message' }
          %textarea{ placeholder: 'votre message' }
      %div.modal-footer
        %button.btn.btn-primary Envoyer