%div.wrapper
  %form#searchform
    %input{ name: 'byname', value: '', placeholder: 'prénom, nom'}
    %span ou 
    %select
      %option{ value: 'toutes les expertises', }toutes les expertises
      %option{ value: 'test1', }test1
    %input{ name: 'submit', value: 'trouver une experte', type: 'submit'}