%section#sponsor

  %h2 Ils nous soutiennent

  = render 'pages/sponsor_rank', sponsor_rank: Sponsor.where(rank: 1)

  %div.clearfix
    = link_to "voir tous les mécènes", sponsors_path, :class => "button"
