%section#submit

  %h2 Proposez une experte
  %span.picto

  %div.wrapper
    / RENDRE DYNAMIQUE CETTE PARTIE
    %p Proposez le profil de toute professionnelle du numérique ou des nouvelles technologies avec au moins 3 ans d’expérience dans son domaine et qui remplit un ou plusieurs des critères suivants : publication(s) en ligne (sur un site professionnel / spécialisé), intervention(s) lors d’un événement professionnel, prise(s) de parole dans les medias (avec d’experte, interviewée…), enseignement, implication dans un projet open source.

    = link_to 'proposez', new_profile_path, class: 'button'
