/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-select";
@import "jasny-bootstrap.min";
@import "flexslider";
@import "slicknav";


// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
---------------------------------- 
  VARIABLES
----------------------------------
*/


$blue: #0cbef0;
$bluestrong: #11657d;
$pink: #ff3654;
$yellow: #ffc508;
$greystrong: #444444;

a,button,input,div,span,p{
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.filter-option{
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

@font-face {
  font-family: 'Hoefler';
  src: url(font-path('hoefler_text_black-webfont.eot'));
  src: url(font-path('hoefler_text_black-webfont.eot?#iefix')) format('embedded-opentype'),
       url(font-path('hoefler_text_black-webfont.woff2')) format('woff2'),
       url(font-path('hoefler_text_black-webfont.woff')) format('woff'),
       url(font-path('hoefler_text_black-webfont.ttf')) format('truetype'),
       url(font-path('hoefler_text_black-webfont.svg#hoefler_text_blackregular')) format('svg');
  font-weight: 700;
  font-style: bold;
}

/*
---------------------------------- 
  COMMON
----------------------------------
*/

.wrapper{max-width: 960px; width: 100%; margin: 0 auto;}

.blue{color: $blue;}
.pink{color: $pink;}

.button{text-decoration: none; padding: 0 20px; line-height: 54px; height: 56px; position: relative; text-align: center; font-size: 26px; width: auto; font-weight: 700; display: inline-block; margin: 50px 0 0 0;}
.button:hover{top: -5px; text-decoration: none;}

.box{box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box;}

.tmp{font-size: 12px; width: 200px; margin: 0 auto; text-align: center;}

.clearfix:after{content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix{display: inline-block;}
html[xmlns] .clearfix{display: block;}
* html .clearfix{height: 1%;}

body{font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; -webkit-transform:translate3d(0,0,0); position: relative;}

h2{font-family: "Hoefler"; color: $blue; font-size: 48px; text-align: center;}

section{padding: 50px 0; text-align: center;
  p{text-align: left; position: relative; margin: 50px 0 0 0; font-size: 22px;}
}

*::-webkit-input-placeholder{color: $bluestrong;}
*:-moz-placeholder{color: $bluestrong;}
*::-moz-placeholder{color: $bluestrong;}
*:-ms-input-placeholder{color: $bluestrong;}

::selection{background: rgba(0,0,0,0.6); color: white;}
::-moz-selection{background: rgba(0,0,0,0.6); color: white;}


/*
---------------------------------- 
  NAVIGATION
----------------------------------
*/

#topnav{background: #444; height: 40px; width: 100%; border-bottom: 1px solid white; margin: 0;
    ul, li{list-style: none; position: relative; padding: 0; margin: 0;}
    ul{float: right;}
    li{display: inline-block;
      a{color: white; text-decoration: none; line-height: 40px;}
      a:hover{text-decoration: underline;}
      a:after{content:" - "; display: inline-block; margin: 0 5px 0 10px; line-height: 40px; position: relative;}
    }
    li:last-child{
      a:after{content:"";}
    }
}


/*
---------------------------------- 
  HEADER
----------------------------------
*/

header{
  h1{display: block; position: relative; margin: 0 auto; text-indent: -9999px;}
}

.home{
  .main{width: 100%; height: 733px; background: $blue;
    .img{width: 100%; height: 100%; background: url(asset-path('bg-main.png')) no-repeat; position: relative; margin: 0 auto; background-position: center center; background-size: cover;
      h1{background: url(asset-path('big-giw.png')) no-repeat; width: 330px; height: 212px; top: 85px; position: relative;}
    }
    p{top: 125px; position: relative; text-align: center; font-size: 24px; color: white; font-weight: 100; max-width: 470px; width: 100%;}
  }
}

.profiles, .sponsors{
  .main{width: 100%; height: 207px; background: $blue;
    .img{width: 100%; height: 207px; background: url(asset-path('bg-top-small.png')) repeat-x;
      h1 a{background: url(asset-path('GIW-expert-small.png')) no-repeat; width: 168px; height: 100px; top: 20px; position: relative; display: block; margin: 0 auto;}
    }
    p{display: none;}
  }
}


/*
---------------------------------- 
  FOOTER
----------------------------------
*/

footer{text-align: center;
  ul, li{list-style: none; margin: 0; padding: 0;}
  ul{text-align: center; height: 56px; line-height: 56px; border-bottom: 1px solid $blue;}
  li{display: inline-block;
    a{color: $blue;}
    a:before{content:" - "; display: inline-block; margin: 0 10px;}
  }
  li:first-child{
    a:before{content:""}
  }
  .giw{display: block; margin: 20px auto; background: url(asset-path('GIW-small.png')) no-repeat; width: 56px; height: 25px; text-indent: -9999px;}
}





/*
---------------------------------- 
  SEARCH FORM
----------------------------------
*/


.home #searchform{top: 220px;}
.profiles #searchform,
.sponsors #searchform{top: 40px;}

#byexpertise{height: 0; width: 0; position: absolute;}

#searchform{position: relative; font-weight: 100;
  input{font-size: 26px; border: none; height: 56px; color: $bluestrong; line-height: 52px; padding: 0 20px; display: inline-block; appearance: none; outline: none; -webkit-backface-visibility: hidden;}
  input:focus{box-shadow: inset 0px 0px 5px $pink;}
  input[type=submit]{background: $pink; border: 1px solid white; border-radius: 0; color: white; padding: 0 20px 0 60px; position: relative; z-index: 1; text-shadow: 0; -webkit-backface-visibility: hidden;}
  input[type=submit]:hover{box-shadow: 0px 0px 10px white;}
  .or{color: white; font-size: 24px;margin: 0 10px; display: inline-block; position: relative;}
  .form-group{display: inline-block;}
  .submit{position: relative; display: inline-block;
    .picto{position: relative; top: 6px; left: 55px; background: url(asset-path('search.png')) no-repeat; width: 31px; height: 31px; content: " "; z-index: 2; display: inline-block;} 
  }
  .byname{background: url(asset-path('bg-field-transparent.png')) repeat; width: 220px;}
  .selectbox{display: inline-block; position: relative; width: 340px; height: 56px; margin: 0 !important; padding: 0 !important; top: -5px !important;}
  
  /* BOOTSTRAP */
  .show-tick{height: 56px; width: 340px; margin: 0; padding: 0; position: relative;}
  button.btn.dropdown-toggle.selectpicker.btn-default{height: 56px; border-radius: 0; width: 340px; margin: 0; border: 0; font-size: 26px; color: $bluestrong;}
  .btn-group.open .dropdown-toggle{box-shadow: inset 0px 0px 5px $pink; outline: none !important; -webkit-appearance: none;}
  .bootstrap-select .btn:focus{outline: none; -webkit-appearance: none;}
  .btn-default:hover{background: white; box-shadow: 0px 0px 10px white;}
  .filter-option{font-size: 26px;}
  .bs-searchbox{
    input{background: #50CAF3; height: 26px; font-size: 16px; border-radius: 0; box-shadow: none; line-height: 26px;}
    input:focus{box-shadow: none;}
  }
}




/*
---------------------------------- 
  PROFIL LIST ITEMS
----------------------------------
*/

.profilist, .profilistitem{list-style: none; padding: 0; margin: 0; position: relative; z-index: 1;}
.profilist{width: 100%; text-align: left;
  a:hover{text-decoration: none;}
}
.profilistitem{display: inline-block; width: 200px; text-align: center; margin: 0 15px 30px 15px; list-style: none; padding: 0; vertical-align: top;
  .avatar{border-radius: 100%; border: 12px solid #CBCBCB; width: 200px; height: 200px; position: relative; display: block; margin: 0; padding: 0;
    img{width: 100%; height: 100%; position: relative; border-radius: 100%;}
  }
  .avatar:before{position: absolute; top: -12px; left: -12px; display: block; z-index: 0; width: 200px; height: 200px; border: 1px solid #cbc; content: "."; text-indent: -9999px; border-radius: 100%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  .avatar:hover{border-color: $pink;}
  .avatar:hover:before{
    -webkit-transform: translate(-10px,-10px);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: translate(-10px,-10px);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: translate(-10px,-10px);
    -ms-transform: scale(1.1,1.1);
    -o-transform: translate(-10px,-10px);
    -o-transform: scale(1.1,1.1);
    transform: translate(-10px,-10px);
    transform: scale(1.1,1.1);
  }
  .firstname, .lastname{display: block;}
  .firstname{font-weight: 700;}
  .line{display: block; margin: 20px auto; height: 1px; width: 70px; background: $greystrong;}
  ul,li{padding: 0; margin: 0; list-style: none;}
  li{
    a{color: $greystrong; font-size: 18px;}
    a:hover{text-decoration: underline;}
  }
}


#profilesList{
  h2{
    span{display: block; line-height: 70px;}
    .small{color: $blue; line-height: normal; font-size: 36px;}
  }
}


/*
---------------------------------- 
  SINGLE PROFIL
----------------------------------
*/

#theprofile{
  .left{position: relative; float: left; width: 220px;
    .avatar{border-radius: 100%; border: 12px solid #CBCBCB; width: 200px; height: 200px; position: relative; display: block; margin: 0; padding: 0;
      img{width: 100%; height: 100%; position: relative; border-radius: 100%;}
    }
    .avatar:before{position: absolute; top: -12px; left: -12px; display: block; z-index: 0; width: 200px; height: 200px; border: 1px solid #cbc; content: "."; text-indent: -9999px; border-radius: 100%;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -ms-transition-property: -ms-transform;
      -o-transition-property: -o-transform;
      transition-property: transform;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
    }
    .avatar:hover{border-color: $pink;}
    .avatar:hover:before{
      -webkit-transform: translate(-10px,-10px);
      -webkit-transform: scale(1.1,1.1);
      -moz-transform: translate(-10px,-10px);
      -moz-transform: scale(1.1,1.1);
      -ms-transform: translate(-10px,-10px);
      -ms-transform: scale(1.1,1.1);
      -o-transform: translate(-10px,-10px);
      -o-transform: scale(1.1,1.1);
      transform: translate(-10px,-10px);
      transform: scale(1.1,1.1);
      -webkit-backface-visibility: hidden;
    }
  } /* end left */
  .right{float: left; position: relative; width: 740px; -webkit-backface-visibility: hidden; text-align: left; padding: 0 0 0 50px;
    .firstname, .name{font-size: 34px;}
    .firstname{font-weight: 700;}
    h4{font-size: 18px; font-weight: 700; color: $pink;}
    .expert, li{list-style: none; padding: 0; margin: 0;}
    .expert{width: 100%; margin: 20px 0 0 0; position: relative;
      li{display: inline-block; font-size: 18px; background: $pink; color: white; height: 35px;
        a{color: white; padding: 0 15px; line-height: 35px;}
      }
    }
    .contact{width: 100%; position: relative; margin: 20px 0 0 0;
      .btcontact{float: left; position: relative; padding: 0 25px; height: 56px; line-height: 56px; color: white; background: $blue; font-size: 18px; font-weight: 700; margin: 0;}
      .btcontact:hover{box-shadow: 0px 5px 0px #7ECFE5;}
      .social{margin: 0 0 0 30px; position: relative; float: left; padding: 0; font-size: 0; line-height: 56px;
        a{display: inline-block; margin: 0 10px; text-indent: -9999px; width: 53px; height: 53px; position: relative;}
        a:hover{top: -5px;}
        .facebook{background: url(asset-path('facebook-blue.png')) no-repeat;}
        .twitter{background: url(asset-path('twitter-blue.png')) no-repeat;}
        .googleplus{background: url(asset-path('google-plus-blue.png')) no-repeat;}
        .linkedin{background: url(asset-path('linkedin-blue.png')) no-repeat;}
      }
    }
  }/* end right */
  
}

/*
---------------------------------- 
  SUBMIT PROFILE
----------------------------------
*/

#profilesSubmit{text-align: left;
  h3{font-family: "Hoefler"; color: $pink; font-size: 30px; text-align: left; border-bottom: 1px solid #ccc; margin: 50px 0 30px 0; position: relative; display: block; width: 100%;}
  h4{border-bottom: 1px solid #ccc; margin: 20px 0 10px 0; width: 100%; font-weight: 700;}
  p{font-size: 16px; margin: 10px 0;}
  input[type=text], input[type=email]{height: 42px; line-height: 42px; background: #e8faff; border: none; padding: 0 10px; outline: none; appearance: none; -webkit-appearance: none;}
  input[type=text]:focus, input[type=email]:focus{box-shadow: inset 0px 0px 5px $pink;}
  input[type=text].error, input[type=email].error{background: $pink; color: white;}
  
  input[type=text].error::-webkit-input-placeholder,
  input[type=text].error:-moz-placeholder,
  input[type=text].error::-moz-placeholder,
  input[type=text].error:-ms-input-placeholder,
  input[type=email].error::-webkit-input-placeholder,
  input[type=email].error:-moz-placeholder,
  input[type=email].error::-moz-placeholder,
  input[type=email].error:-ms-input-placeholder{color: white;}
  
  .subsections{width: 100%;
    .left{position: relative; float: left; width: 200px; margin: 0 0 0 50px; max-width: 100%;
      label{margin: 0 20px 0 5px; position: relative;}
    }
    .right{position: relative; float: left; width: 600px; text-align: left; max-width: 100%;
      .glyphicon{color: $blue;}
      input{margin: 0 0 10px 20px; position: relative; width: 500px; display: inline-block;}
    }
  }
  .firstname, .lastname{width: 400px; font-size: 24px; max-width: 100%; }
  .avatar{width: 200px; height: 200px; background: #ebebeb; border: 1px solid #ccc; padding: 10px; position: relative;}
  .avatarUpload{float: left; position: relative; width: 300px;}
  .social{float: left; position: relative; width: 600px; margin: 0 0 0 50px;
    .link{margin: 0 0 10px 0; position: relative;
      input{width: 400px; max-width: 100%;}
    }
    .glyphicon{position: relative; display: inline-block; padding: 0 0 0 5px; color: $blue; margin: 0 10px 20px 0;}
    .picto{width: 150px; position: relative; display: inline-block;}
    .picto:before{width: 24px; height: 24px; display: inline-block; position: relative; margin: 0 10px 0 0; content: "."; vertical-align: middle; text-indent: -9999px;}
    .linkedin .picto:before{background: url(asset-path('linkedin-small.png')) no-repeat;}
    .twitter .picto:before{background: url(asset-path('twitter-small.png')) no-repeat;}
    .facebook .picto:before{background: url(asset-path('facebook-small.png')) no-repeat;}
    .googleplus .picto:before{background: url(asset-path('google-plus-small.png')) no-repeat;}
    .email .picto{width: 117px;}
    .email .picto:before{content: ""; display: none;}
  }
  .tags{
    .domain{position: relative; margin: 0 0 20px 0;}
  }
  .button{margin: 50px auto 0 auto; background: $pink; color: white; border: 0; display: block;}
  .button:hover{box-shadow: 0px 5px 0px #C5233B;}
}





/*
---------------------------------- 
  PARTERS
----------------------------------
*/

#parnersOne{background: $blue; border-bottom: 1px solid white;}
#parnersTwo{background: #24afd6; border-bottom: 1px solid white;}
#parnersThree{background: #469ab3; border-bottom: 1px solid white;}
#parnersFour{background: #628a96; border-bottom: 1px solid white;}
#parnersFive{background: #797c7d;}

.partnerslide{padding: 50px 0; vertical-align: middle; position: relative; height: 300px;
  .slides{height: 200px; text-align: center; z-index: 1;}
  li{width: 200px; height: 200px; vertical-align: middle; position: relative; text-align: center; padding: 0 10px; box-sizing: border-box;
    a{width: 200px; height: 200px; position: relative; line-height: 200px;
      img{width: 100%; height: auto;}
    }
  }
  .flex-direction-nav{position: absolute; top: 145px; width: 100%;
    li{height: 52px; position: relative; display: block; float: left; width: 50%; margin: 0; padding: 0;
      a{text-indent: -9999px; display: block; width: 26px; height: 52px; z-index: 2; top: 0; opacity: 1;}
      .flex-prev{background: url(asset-path('nav-left.png')) no-repeat; float: left; content: ""; left: -40px;}
      .flex-next{background: url(asset-path('nav-right.png')) no-repeat; float: right; content: ""; right: -40px;}
    }
  }
}

/*
---------------------------------- 
  SECTIONS
----------------------------------
*/

#expertesrandom{position: relative;
    .bgline{width: 100%; height: 1px; background: #cbc; position: absolute; display: block; top: 235px; z-index: 0;}
}

#submit{color: white; background: $pink;
  h2{color: white;}
  .picto{background: url(asset-path('picto-submit.png')) no-repeat; width: 36px; height: 46px; display: inline-block; margin: 30px 0 0 0;}
  .button{background: white; color: $pink;}
  .button:hover{box-shadow: 0px 5px 0px #C5233B;}
}

#label{
  h2{color: $yellow;}
  .picto{background: url(asset-path('picto-label-gold.png')) no-repeat; width: 83px; height: 105px; display: inline-block; margin: 30px 0 0 0;}
  .button{background: $yellow; color: white;}
  .button:hover{box-shadow: 0px 5px 0px #D4A50C;}
}

#sponsor{background: $greystrong; color: white;
  h2{color: white;}
  .button{background: white; color: $greystrong;}
  .button:hover{box-shadow: 0px 5px 0px #373737;}
}

#contact{background: $blue; color: white;
  h2{color: white;}
  .social{margin: 30px 0 0 0;
    a{display: inline-block; margin: 0 10px; text-indent: -9999px; width: 53px; height: 53px; position: relative;}
    a:hover{top: -5px;}
    .facebook{background: url(asset-path('facebook.png')) no-repeat;}
    .twitter{background: url(asset-path('twitter.png')) no-repeat;}
    .google{background: url(asset-path('google-plus.png')) no-repeat;}
    .linkedin{background: url(asset-path('linkedin.png')) no-repeat;}
  }
  .button{background: white; color: $blue;}
  .button:hover{box-shadow: 0px 5px 0px #7ECFE5;}
}


/*
---------------------------------- 
  MOBILE NAV
----------------------------------
*/

#mobilenav{display: none;}

.fixed{display: block; width: 100px; height: 20px; position: fixed; top: 300px;}


.slicknav_menu{background: rgba(255,255,255,0.2); display: none; width: 100%; border-bottom: 1px solid white; padding: 0; position: fixed; z-index: 10000;
  .slicknav_menutxt{font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; text-shadow: none; color: $greystrong;}
  .slicknav_btn{background: none;}
  .slicknav_icon-bar{background-color: $greystrong; box-shadow: none;}
  .slicknav_nav{background: rgba(255,255,255,0.9); color: $greystrong;
    ul{margin: 0;
      li{line-height: 40px; border-bottom: 1px solid #cbcbcb;}
      li:last-child{border-bottom: none;}
      a{color: $greystrong;}
      .normal{background: $blue; font-weight: 700; font-size: 20px;
        a{color: white;}
      }
      .soumettre{background: $pink;}
      .little{line-height: 30px;}
    }
  }
  
}



/*
---------------------------------- 
  MEDIA QUERIES
----------------------------------
*/


@media screen and (max-width: 40em){
  .slicknav_menu{display: block;}
  #topnav{display: none;}
  header{
    .main{top: -20px; position: relative; z-index: 0;}
  }
}


/* ALL SMARTPHONES */
@media only screen and (max-width: 415px) {

.home{
  .main{width: 100%; height: 560px; background: $blue;
    .img{
      h1{width: 168px; height: 100px;}
    }
    p{font-size: 16px; padding: 0 10px; top: 100px;}
  }
}

.profiles, .sponsors{
  .main{
    .img{
      h1 a{top: 90px;}
    }
    p{display: none;}
  }
}



.home #searchform{top: 140px;}
.profiles #searchform, .sponsors #searchform{display: none;}

#searchform{top: 140px; text-align: center;
  input, .byname{border-radius: 0; width: 340px;}
  .or{display: block; margin: 0 0 15px 0;}
  .selectbox{margin: 0 auto !important; display: block;}
  .submit{display: block; margin: 15px auto; text-align: center; width: 340px; position: relative;
    .picto{position: absolute; left: 20px; top: 10px;}
    input{margin: 0 auto; padding: 0 20px 0 30px;}
  }
}

#footernav{display: none;}
section{padding: 30px 0;
  p{padding: 0 10px;}
}

.profilist{text-align: center;}
#expertesrandom .bgline{display: none;}

#profilesSubmit{padding: 0 10px;
  .firstname, .lastname{margin: 0 0 10px 0;}
  .social{margin: 10px 0 0 0; width: 100%;
    .link{margin: 0 0 10px 0; position: relative;
      input{display: block; position: relative; margin: 10px 0 0 0; width: 310px;}
    }
    .glyphicon{margin: 0 10px 0 0;}
  }
  .subsections .right input{margin: 0 0 10px 10px; width: 310px;}
}

#theprofile{
  .left{float: none; display: block; width: 100%;
    .avatar{margin: 0 auto;}
  }
  .right{float: none; display: block; width: 100%; padding: 0 10px;
    .expert{width: 100%;
      li{display: block; width: auto; margin: 0 0 10px 0;}
    }
    .contact .btcontact{float: none; margin: 0 auto 30px auto; display: block;}
  }
}

.partnerslide .flex-direction-nav{display: none;}





  
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* High pixel ratio devices ----------- */

@media

only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( -moz-min-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx){

.home .main .img h1{background: url(asset-path('big-giw@2x.png')) no-repeat; background-size: contain;}

footer .giw{background: url(asset-path('GIW-small@2x.png')) no-repeat; background-size: contain;}

#searchform .picto{background: url(asset-path('search@2x.png')) no-repeat; background-size: contain;}
#submit .picto{background: url(asset-path('picto-submit@2x.png')) no-repeat; background-size: contain;}
#label .picto{background: url(asset-path('picto-label-gold@2x.png')) no-repeat; background-size: contain;}
#contact .social{
  .facebook{background: url(asset-path('facebook@2x.png')) no-repeat; background-size: contain;}
  .twitter{background: url(asset-path('twitter@2x.png')) no-repeat; background-size: contain;}
  .google{background: url(asset-path('google-plus@2x.png')) no-repeat; background-size: contain;}
  .linkedin{background: url(asset-path('linkedin@2x.png')) no-repeat; background-size: contain;}
}
#profilesSubmit .social{ 
  .linkedin .picto:before{background: url(asset-path('linkedin-small@2x.png')) no-repeat; background-size: contain;}
  .twitter .picto:before{background: url(asset-path('twitter-small@2x.png')) no-repeat; background-size: contain;}
  .facebook .picto:before{background: url(asset-path('facebook-small@2x.png')) no-repeat; background-size: contain;}
  .googleplus .picto:before{background: url(asset-path('google-plus-small@2x.png')) no-repeat; background-size: contain;}
}



} /* end mediaqueries */




/*
---------------------------------- 
  LOADER
----------------------------------
*/


@-webkit-keyframes circles {
  0% {
    -webkit-transform: rotate(-720deg);
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -o-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }

  50% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@-moz-keyframes circles {
  0% {
    -webkit-transform: rotate(-720deg);
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -o-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }

  50% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@-o-keyframes circles {
  0% {
    -webkit-transform: rotate(-720deg);
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -o-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }

  50% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@keyframes circles {
  0% {
    -webkit-transform: rotate(-720deg);
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -o-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }

  50% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

/* Styles for old versions of IE */
.circles {
  font-family: sans-serif;
  font-weight: 100;
}

/* :not(:required) hides this rule from IE9 and below */
.circles:not(:required) {
  position: relative;
  text-indent: -9999px;
  display: block;
  margin: 0 auto;
  top: 70px;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  -webkit-animation: circles 3s infinite ease-in-out;
  -moz-animation: circles 3s infinite ease-in-out;
  -ms-animation: circles 3s infinite ease-in-out;
  -o-animation: circles 3s infinite ease-in-out;
  animation: circles 3s infinite ease-in-out;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.circles:not(:required)::before {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 18.75px;
  left: -10.82532px;
}
.circles:not(:required)::after {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 18.75px;
  left: 10.82532px;
}
















